.column, .card__container, .card-body, .column__item, .card-header button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    background-color: #FFF0EB;
    flex-wrap: wrap;
    width: 90%;
}

.card-header {
    background-color: #FFD6C8;
}
.card__container, .card-body {
    width: 95%;
    gap: 3%;
    margin: 0 auto;
}

.card__container .card-body {
    flex-wrap: wrap;
    height: 90vh;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: flex-start;
}

.heading {
    width: 100%;
    text-align: center;
}

.card-header {
    background-color: #FFD6C8;
}

.column__item .card-header, .card-header button {
    width: 100%;
    height: 100%;
    background-color: #FFE5DD;
    flex-wrap: wrap;
    max-height: 100%;
    border-radius: 15px;
    border: none;
    margin: auto;
    overflow:hidden;
}

.card-header button {
    width: 100%;
    padding: 0.15vw;
    color: #000;
}

.column__item {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #FFE5DD;
    width: 100%;
    height: 45px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .card__container{
        width: 98%;
        margin: auto;
        flex-wrap: wrap;
    }
    .column {
        width: 90%;
        margin: 20px auto;
        flex-wrap: wrap;
    }   
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .card__container{
        width: 98%;
        margin: auto;
        flex-wrap: wrap;
    }
    .column {
        width: 45%;
        margin: 20px auto;
        flex-wrap: wrap;
    }   
}