.title {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.menu_opcoes, .btn__opcoes, .btn__opcao, .labels {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 1rem;
    border-radius: 10px;
    width: 50vw;
    gap: 20px;
    height: auto;
    background: rgba(255, 219, 208, 0.95);
    margin: 50px auto;
}

.menu_opcoes .text {
    display: flex;
    width: 80%;
    align-items: end;
    justify-content: end;
}

.intro {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    gap: 15px;
}

.img__perfil {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.voltar {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: rgb(76, 43, 23);
}


.btn__opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px
}

.opcao {
    width: 8rem;
    height: 2rem;
    border: 1px solid #000;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(76, 43, 23, 0.50);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.checkbox:checked + label {
    border: 2px solid #000;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

